* {margin:0px; padding:0px;}

#background {z-index: -999; position: fixed; width:100%; height: 100%;  
             background: -o-linear-gradient(top, #C0C000, #F1DA36);
             background: -moz-linear-gradient(top, #C0C000, #F1DA36); /* Firefox 3.6+ */



             /*
             background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#fefcea), color-stop(100%,#f1da36));             
             background: -webkit-linear-gradient(top, #fefcea, #f1da36);
             background: -ms-linear-gradient(top, #fefcea, #f1da36);
             background: linear-gradient(top, #fefcea, #f1da36); 
             */
             }


#header {min-width: 900px; width:100%; height: 100px; margin:0 auto;}
  #login {height:100px;}

#content {min-width: 900px; width:100%; margin:0 auto;}
  #left {width:200px; float:left; margin-left: 5px}
  #right {width:200px; float:right; margin-right: 5px}
  #center {margin-left:210px; margin-right:210px;}

#footer{min-width: 900px; clear:both; height: 50px; width:100%; margin-left: auto; margin-right: auto}
  
#header, #footer {background-color: rgba(255,255,255,0.5)}
#content {background-color: rgba(255,255,255,0.0) }
#left, #right, #center {background-color: rgba(255,255,255,0.5)}


#header {margin-bottom: 10px;}
#footer {margin-top: 10px;}

#left, #right, #center {border-radius: 5px;}
